In [22]:
import pandas as pd
import uuid
from collections import Counter

In [12]:
df = pd.read_csv('Job intention survey.csv')
df.head(3)

,Timestamp,Email Address,First Name,Last Name,Student ID,How many years until graduation,Are you going to search and apply a job in foreseeable future?,Industry,Job Title 1,Job Title 2,Job Title 3,Expected Salary,Any specific company you want to work for?,Any other information about the job market you are interested in?
0,1/21/2025 10:14:42,nassae05@uww.edu,Abigail,Nass,2024846,1,Yes,Accounting,Tax Accountant,NaN,NaN,60001-80000,Wipfli,NaN
1,1/21/2025 10:16:06,gandera22@uww.edu,Alyssa,Gander,2079987,1,No,Finance,Financial Advisor - plan to transition from in...,NaN,NaN,60001-80000,No,NaN
2,1/21/2025 10:16:28,earhartid23@uww.edu,Isabel,Earhart,2029140,1,Yes,Finance,Financial representative,Financial advisor,Real estate agent,60001-80000,NaN,NaN

In [13]:
df['survey_id'] = [str(uuid.uuid4()) for _ in range(len(df))]

df_id = df[['Email Address','First Name','Last Name','Student ID','survey_id']]
df = df.drop(columns=['Timestamp','Email Address','First Name','Last Name','Student ID'])

df.head(3)

,How many years until graduation,Are you going to search and apply a job in foreseeable future?,Industry,Job Title 1,Job Title 2,Job Title 3,Expected Salary,Any specific company you want to work for?,Any other information about the job market you are interested in?,survey_id
0,1,Yes,Accounting,Tax Accountant,NaN,NaN,60001-80000,Wipfli,NaN,c9c4fb02-c1bf-4b67-a7cd-c4644358bad1
1,1,No,Finance,Financial Advisor - plan to transition from in...,NaN,NaN,60001-80000,No,NaN,e5fd2c3a-44ee-4169-84ed-56b26513b392
2,1,Yes,Finance,Financial representative,Financial advisor,Real estate agent,60001-80000,NaN,NaN,dc8da76e-87c5-46bd-91e9-6a18099664b4

In [24]:
job_titles = df['Job Title 1'].tolist() + df['Job Title 2'].tolist() + df['Job Title 3'].tolist()
job_titles2 = [title for entry in job_titles if isinstance(entry, str) for title in entry.split('/')]
job_titles3 = [title.split('-')[0].strip().capitalize() for title in job_titles2]
job_titles3

['Tax accountant',
 'Financial advisor',
 'Financial representative',
 'Financial analyst',
 'Financial advisor',
 'Credit analyst',
 'Investment banker',
 'Investment banker',
 'Financial analyst',
 'Assurance associate',
 'Analyst',
 'Buy side analyst',
 'Investment analyst',
 'Financial analyst',
 'Auditor',
 'Inside sales rep',
 'Financial analyst',
 'Commercial underwriting',
 'Financial analyst',
 'Acquisitions analyst',
 'Series 3 broker',
 'Financial advisor',
 'Financial planner',
 'Real estate developer',
 'Financial advisor',
 'Financial advisor',
 'Financial planning associate',
 'Assurance aossiciate',
 'Investment analyst',
 'Finance technology director',
 'Analyst',
 'Not sure',
 'Credit analyst',
 "Financal development associate (it's a rotational program)",
 'Assessor',
 'Fp&a analyst (currently employed)',
 'Data analyst',
 'Commercial banker',
 'Ceo',
 'Auditor',
 'Financial planner',
 'I currently work as a fraud analyst for a credit union.',
 'Financial assistant',
 'Financial advisor',
 'Equity research analyst',
 'Wealth advisor',
 'Financial planner',
 'Accountant',
 'Financial advisor',
 'Rotational development programs',
 'Tax associate',
 'Equity research analyst',
 'Financial planner',
 'Fldp',
 'Wealth manager associate',
 'Development analyst',
 'Trade desk surveillance',
 'Financial analyst',
 'Financial advisor',
 'Real estate development associate',
 'Real estate financing',
 'Financial planner',
 'Financial planner',
 'Financial planner',
 'Business analyst',
 'Ag',
 'Commercial loan officer',
 'Appraiser',
 'Cost analyst (prior position)',
 'Credit analyst',
 'Entrepreneur',
 'Operations finance',
 'Compliance officer',
 'Banking intern',
 'Real estate agent',
 'Corporate finance',
 'Investment associate',
 'Financial analyst',
 'Caas associate',
 'Investment banking analyst',
 'Business owner (in relation to either)',
 'Financial planner',
 'Financial analyst',
 'Commodity trader',
 'Something in audit',
 'Assurace',
 'Real estate broker',
 'Property management accountant',
 'Wealth management',
 'Wealth manager',
 'Private equity position',
 'Caas',
 'Financial analyst',
 'Loan officer',
 'Financial analyst',
 'Certified public account',
 'Financial planner']

In [27]:
title_counter = Counter(job_titles3)
print(title_counter)

Counter({'Financial analyst': 10, 'Financial planner': 9, 'Financial advisor': 8, 'Credit analyst': 3, 'Investment banker': 2, 'Analyst': 2, 'Investment analyst': 2, 'Auditor': 2, 'Equity research analyst': 2, 'Tax accountant': 1, 'Financial representative': 1, 'Assurance associate': 1, 'Buy side analyst': 1, 'Inside sales rep': 1, 'Commercial underwriting': 1, 'Acquisitions analyst': 1, 'Series 3 broker': 1, 'Real estate developer': 1, 'Financial planning associate': 1, 'Assurance aossiciate': 1, 'Finance technology director': 1, 'Not sure': 1, "Financal development associate (it's a rotational program)": 1, 'Assessor': 1, 'Fp&a analyst (currently employed)': 1, 'Data analyst': 1, 'Commercial banker': 1, 'Ceo': 1, 'I currently work as a fraud analyst for a credit union.': 1, 'Financial assistant': 1, 'Wealth advisor': 1, 'Accountant': 1, 'Rotational development programs': 1, 'Tax associate': 1, 'Fldp': 1, 'Wealth manager associate': 1, 'Development analyst': 1, 'Trade desk surveillance': 1, 'Real estate development associate': 1, 'Real estate financing': 1, 'Business analyst': 1, 'Ag': 1, 'Commercial loan officer': 1, 'Appraiser': 1, 'Cost analyst (prior position)': 1, 'Entrepreneur': 1, 'Operations finance': 1, 'Compliance officer': 1, 'Banking intern': 1, 'Real estate agent': 1, 'Corporate finance': 1, 'Investment associate': 1, 'Caas associate': 1, 'Investment banking analyst': 1, 'Business owner (in relation to either)': 1, 'Commodity trader': 1, 'Something in audit': 1, 'Assurace': 1, 'Real estate broker': 1, 'Property management accountant': 1, 'Wealth management': 1, 'Wealth manager': 1, 'Private equity position': 1, 'Caas': 1, 'Loan officer': 1, 'Certified public account': 1})