# Job Posting Analysis

In [1]:
# import os
import pandas as pd
%run utils.ipynb

## Load data

In [2]:
path = 'D:/Learn/projects/data/job_data/apify'
date = '01152025'
type = 'fin'
df0 = pd.read_csv(f'{path}/{date}_linkedin_{type}.csv')
print(df0.shape)
df0.head()

(688, 21)

,applicationsCount,applyType,applyUrl,benefits,companyId,companyName,companyUrl,contractType,description,experienceLevel,...,jobUrl,location,postedTime,posterFullName,posterProfileUrl,publishedAt,salary,sector,title,workType
0,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/financial-d...,401(k)\nDental insurance\nMedical insurance\nV...,1215629.0,Atlantic Group,https://www.linkedin.com/company/the-atlantic-...,Full-time,"Our Client, A top tier PE firm is looking to h...",Executive,...,https://www.linkedin.com/jobs/view/financial-d...,"New York, United States",9 hours ago,NaN,NaN,2025-01-16,"$200,000.00/yr - $250,000.00/yr",Staffing and Recruiting,"Financial Director, Private Equity",Accounting/Auditing and Finance
1,32 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/sr-manager-...,NaN,30086.0,Palo Alto Networks,https://www.linkedin.com/company/palo-alto-net...,Full-time,Our Mission\n\nAt Palo Alto Networks® everythi...,Mid-Senior level,...,https://www.linkedin.com/jobs/view/sr-manager-...,"Santa Clara, CA",8 hours ago,NaN,NaN,2025-01-16,NaN,Computer and Network Security,Sr Manager of Strategic Finance,Finance
2,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,NaN,766746.0,"Piping Technology & Products, Inc.",https://www.linkedin.com/company/piping-techno...,Full-time,Company Overview\n\nPiping Technology & Produc...,Executive,...,https://www.linkedin.com/jobs/view/chief-finan...,"Houston, TX",10 hours ago,NaN,NaN,2025-01-16,NaN,IT Services and IT Consulting,Chief Financial Officer,Accounting/Auditing
3,50 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,Medical insurance\nVision insurance\nDental in...,5235.0,LHH,https://www.linkedin.com/company/lhhworldwide?...,Full-time,We are working with the CEO of a SaaS start-up...,Executive,...,https://www.linkedin.com/jobs/view/chief-finan...,New York City Metropolitan Area,13 hours ago,Allen Tsirinsky,https://www.linkedin.com/in/allen-tsirinsky-56...,2025-01-16,"$190,000.00/yr - $210,000.00/yr","Software Development and Technology, Informati...",Chief Financial Officer,Accounting/Auditing
4,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,NaN,40840.0,National Vision Inc.,https://www.linkedin.com/company/national-visi...,Full-time,Company Description\n\nNational Vision is one ...,Not Applicable,...,https://www.linkedin.com/jobs/view/chief-finan...,"Upland, CA",6 hours ago,NaN,NaN,2025-01-16,NaN,Retail,Chief Financial Officer,Human Resources

In [3]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   applicationsCount  688 non-null    object
 1   applyType          688 non-null    object
 2   applyUrl           688 non-null    object
 3   benefits           120 non-null    object
 4   companyId          682 non-null    float64
 5   companyName        682 non-null    object
 6   companyUrl         682 non-null    object
 7   contractType       688 non-null    object
 8   description        688 non-null    object
 9   experienceLevel    688 non-null    object
 10  id                 688 non-null    int64
 11  jobUrl             688 non-null    object
 12  location           688 non-null    object
 13  postedTime         688 non-null    object
 14  posterFullName     187 non-null    object
 15  posterProfileUrl   187 non-null    object
 16  publishedAt        688 non-null    object
 17  salary             271 non-null    object
 18  sector             682 non-null    object
 19  title              688 non-null    object
 20  workType           688 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 113.0+ KB

In [4]:
df0.head()

,applicationsCount,applyType,applyUrl,benefits,companyId,companyName,companyUrl,contractType,description,experienceLevel,...,jobUrl,location,postedTime,posterFullName,posterProfileUrl,publishedAt,salary,sector,title,workType
0,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/financial-d...,401(k)\nDental insurance\nMedical insurance\nV...,1215629.0,Atlantic Group,https://www.linkedin.com/company/the-atlantic-...,Full-time,"Our Client, A top tier PE firm is looking to h...",Executive,...,https://www.linkedin.com/jobs/view/financial-d...,"New York, United States",9 hours ago,NaN,NaN,2025-01-16,"$200,000.00/yr - $250,000.00/yr",Staffing and Recruiting,"Financial Director, Private Equity",Accounting/Auditing and Finance
1,32 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/sr-manager-...,NaN,30086.0,Palo Alto Networks,https://www.linkedin.com/company/palo-alto-net...,Full-time,Our Mission\n\nAt Palo Alto Networks® everythi...,Mid-Senior level,...,https://www.linkedin.com/jobs/view/sr-manager-...,"Santa Clara, CA",8 hours ago,NaN,NaN,2025-01-16,NaN,Computer and Network Security,Sr Manager of Strategic Finance,Finance
2,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,NaN,766746.0,"Piping Technology & Products, Inc.",https://www.linkedin.com/company/piping-techno...,Full-time,Company Overview\n\nPiping Technology & Produc...,Executive,...,https://www.linkedin.com/jobs/view/chief-finan...,"Houston, TX",10 hours ago,NaN,NaN,2025-01-16,NaN,IT Services and IT Consulting,Chief Financial Officer,Accounting/Auditing
3,50 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,Medical insurance\nVision insurance\nDental in...,5235.0,LHH,https://www.linkedin.com/company/lhhworldwide?...,Full-time,We are working with the CEO of a SaaS start-up...,Executive,...,https://www.linkedin.com/jobs/view/chief-finan...,New York City Metropolitan Area,13 hours ago,Allen Tsirinsky,https://www.linkedin.com/in/allen-tsirinsky-56...,2025-01-16,"$190,000.00/yr - $210,000.00/yr","Software Development and Technology, Informati...",Chief Financial Officer,Accounting/Auditing
4,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,NaN,40840.0,National Vision Inc.,https://www.linkedin.com/company/national-visi...,Full-time,Company Description\n\nNational Vision is one ...,Not Applicable,...,https://www.linkedin.com/jobs/view/chief-finan...,"Upland, CA",6 hours ago,NaN,NaN,2025-01-16,NaN,Retail,Chief Financial Officer,Human Resources

In [5]:
dupes = df0[df0.duplicated(subset=['applyUrl'], keep=False)]
print(dupes.shape)
dupes.head()

(44, 21)

,applicationsCount,applyType,applyUrl,benefits,companyId,companyName,companyUrl,contractType,description,experienceLevel,...,jobUrl,location,postedTime,posterFullName,posterProfileUrl,publishedAt,salary,sector,title,workType
18,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,NaN,52199182.0,Pop-Up Talent,https://www.linkedin.com/company/pop-uptalent?...,Full-time,"Chief Financial Officer\n\nPetaluma, CA 94954\...",Mid-Senior level,...,https://www.linkedin.com/jobs/view/chief-finan...,"Petaluma, CA",6 hours ago,M B.,https://www.linkedin.com/in/brionesmaria,2025-01-16,"$220,000.00/yr - $250,000.00/yr",Real Estate,Chief Financial Officer,Finance
19,Be among the first 25 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/chief-finan...,NaN,52199182.0,Pop-Up Talent,https://www.linkedin.com/company/pop-uptalent?...,Full-time,"Chief Financial Officer\n\nPetaluma, CA 94954\...",Mid-Senior level,...,https://www.linkedin.com/jobs/view/chief-finan...,"Petaluma, CA",6 hours ago,M B.,https://www.linkedin.com/in/brionesmaria,2025-01-16,"$220,000.00/yr - $250,000.00/yr",Real Estate,Chief Financial Officer,Finance
96,Be among the first 25 applicants,EXTERNAL,https://eigx.fa.us6.oraclecloud.com/hcmUI/Cand...,NaN,23337.0,Sally Beauty,https://www.linkedin.com/company/sally-beauty-...,Full-time,Job Description\n\nEssential Function\n\nServe...,Mid-Senior level,...,https://www.linkedin.com/jobs/view/sr-finance-...,"Denton, TX",11 hours ago,NaN,NaN,2025-01-16,NaN,Retail,SR FINANCE MANAGER,Finance and Sales
128,Be among the first 25 applicants,EXTERNAL,https://boards.greenhouse.io/robinhood/jobs/64...,NaN,3254263.0,Robinhood,https://www.linkedin.com/company/robinhood?trk...,Full-time,Join a leading fintech company that’s democrat...,Mid-Senior level,...,https://www.linkedin.com/jobs/view/finance-str...,"New York, NY",6 hours ago,NaN,NaN,2025-01-16,NaN,Financial Services,"Finance & Strategy Senior Analyst, Crypto",Business Development and Sales
175,Be among the first 25 applicants,EXTERNAL,https://eigx.fa.us6.oraclecloud.com/hcmUI/Cand...,NaN,10250840.0,CosmoProf Beauty,https://www.linkedin.com/company/cosmoprof-bea...,Full-time,Job Description\n\nEssential Function\n\nServe...,Mid-Senior level,...,https://www.linkedin.com/jobs/view/sr-finance-...,"Denton, TX",8 hours ago,NaN,NaN,2025-01-16,NaN,Retail,SR FINANCE MANAGER,Finance and Sales

In [6]:
df = df0.drop_duplicates(subset=['applyUrl'])
df.shape

(661, 21)

In [7]:
df0.columns

Index(['applicationsCount', 'applyType', 'applyUrl', 'benefits', 'companyId',
       'companyName', 'companyUrl', 'contractType', 'description',
       'experienceLevel', 'id', 'jobUrl', 'location', 'postedTime',
       'posterFullName', 'posterProfileUrl', 'publishedAt', 'salary', 'sector',
       'title', 'workType'],
      dtype='object')

In [8]:
cols_to_keep = ['title','companyName','salary','location','applyUrl','contractType','description',
       'experienceLevel','jobUrl','publishedAt','sector','workType','posterFullName','posterProfileUrl','companyId','companyUrl',]
df = df[cols_to_keep]
print(df.shape)
df

(661, 16)

,title,companyName,salary,location,applyUrl,contractType,description,experienceLevel,jobUrl,publishedAt,sector,workType,posterFullName,posterProfileUrl,companyId,companyUrl
0,"Financial Director, Private Equity",Atlantic Group,"$200,000.00/yr - $250,000.00/yr","New York, United States",https://www.linkedin.com/jobs/view/financial-d...,Full-time,"Our Client, A top tier PE firm is looking to h...",Executive,https://www.linkedin.com/jobs/view/financial-d...,2025-01-16,Staffing and Recruiting,Accounting/Auditing and Finance,NaN,NaN,1215629.0,https://www.linkedin.com/company/the-atlantic-...
1,Sr Manager of Strategic Finance,Palo Alto Networks,NaN,"Santa Clara, CA",https://www.linkedin.com/jobs/view/sr-manager-...,Full-time,Our Mission\n\nAt Palo Alto Networks® everythi...,Mid-Senior level,https://www.linkedin.com/jobs/view/sr-manager-...,2025-01-16,Computer and Network Security,Finance,NaN,NaN,30086.0,https://www.linkedin.com/company/palo-alto-net...
2,Chief Financial Officer,"Piping Technology & Products, Inc.",NaN,"Houston, TX",https://www.linkedin.com/jobs/view/chief-finan...,Full-time,Company Overview\n\nPiping Technology & Produc...,Executive,https://www.linkedin.com/jobs/view/chief-finan...,2025-01-16,IT Services and IT Consulting,Accounting/Auditing,NaN,NaN,766746.0,https://www.linkedin.com/company/piping-techno...
3,Chief Financial Officer,LHH,"$190,000.00/yr - $210,000.00/yr",New York City Metropolitan Area,https://www.linkedin.com/jobs/view/chief-finan...,Full-time,We are working with the CEO of a SaaS start-up...,Executive,https://www.linkedin.com/jobs/view/chief-finan...,2025-01-16,"Software Development and Technology, Informati...",Accounting/Auditing,Allen Tsirinsky,https://www.linkedin.com/in/allen-tsirinsky-56...,5235.0,https://www.linkedin.com/company/lhhworldwide?...
4,Chief Financial Officer,National Vision Inc.,NaN,"Upland, CA",https://www.linkedin.com/jobs/view/chief-finan...,Full-time,Company Description\n\nNational Vision is one ...,Not Applicable,https://www.linkedin.com/jobs/view/chief-finan...,2025-01-16,Retail,Human Resources,NaN,NaN,40840.0,https://www.linkedin.com/company/national-visi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,VICE PRESIDENT - CORPORATE CREDIT,Job Juncture,"$175,000.00/yr - $195,000.00/yr","Chicago, IL",https://www.jobjuncture.com/all_jobs/24609/?ut...,Full-time,Job description: The VP - Credit Analyst will ...,Executive,https://www.linkedin.com/jobs/view/vice-presid...,2025-01-16,Staffing and Recruiting,Finance and Sales,Steve Kohn,https://www.linkedin.com/in/skohn1,3830959.0,https://www.linkedin.com/company/job-juncture?...
684,Project Accountant,Risus Talent Partners,"$95,000.00/yr - $110,000.00/yr",Greater Seattle Area,https://www.linkedin.com/jobs/view/project-acc...,Full-time,"Onsite role in Marysville, WA\n\n\n\n\nQualifi...",Not Applicable,https://www.linkedin.com/jobs/view/project-acc...,2025-01-16,Construction,Accounting/Auditing,Brooke Samios-Uy,https://www.linkedin.com/in/brooke-samios-uy-6...,80903120.0,https://www.linkedin.com/company/risus-talent-...
685,Accounting Manager - Real Estate,Hernandez Consulting & Construction,NaN,"New Orleans, LA",https://www.linkedin.com/jobs/view/accounting-...,Full-time,Accounting Manager – Real Estate\n\nYour New C...,Mid-Senior level,https://www.linkedin.com/jobs/view/accounting-...,2025-01-16,Internet Publishing,Sales and Management,NaN,NaN,9221215.0,https://www.linkedin.com/company/hernandez-con...
686,"Director, IT Finance",KPMG US,NaN,"Philadelphia, PA",https://www.kpmguscareers.com/jobdetail/?jobId...,Full-time,Known for being a great place to work and buil...,Director,https://www.linkedin.com/jobs/view/director-it...,2025-01-16,Financial Services,General Business,NaN,NaN,1079.0,https://www.linkedin.com/company/kpmg-us?trk=p...
687,Financial Director,Mountain Valley Developmental Services,"$86,320.00/yr - $111,280.00/yr","Glenwood Springs, CO",https://www.linkedin.com/jobs/view/financial-d...,Full-time,This position is IN-PERSON in Glenwood Springs...,Director,https://www.linkedin.com/jobs/view/financial-d...,2025-01-16,Health and Human Services,Finance and Sales,NaN,NaN,104789338.0,https://www.linkedin.com/company/mountain-vall...

## Exam and clean data for analysis
From here, some desired information have been extracted from the description and transformed to dataframe columns for further processing.

A closer look at the job titles reveals that some jobs are not in the united states, and not even written in English. This section exam them and decide whether they should be removed.

These posting with non-English titles and description are probably fake jobs or posted by poorly configured bots.
Some English titled posts are also shown because they contains non-ASC II characters.

In [9]:
# the funtion contains_non_english filter out job titles with non-English characters
df[df['title'].apply(contains_non_english)][['location', 'title']]

,location,title
178,"New York, United States",Business Management Analyst – Capital Structur...
359,"McLean, VA",Budget Analyst-Formulation – Senior SME
433,"Washington, DC",ISN/ECC – FMT Budget Analyst
506,"San Francisco, CA",PGIM Real Estate – Investment Analyst (San Fra...
576,"Atlanta, GA",2025 – Early Career – Innovation and Digital B...
610,"Mobile, AL",General Manager – US Manufacturing
634,"Melville, NY",Team Leader – Entry Level

In [10]:
df.columns

Index(['title', 'companyName', 'salary', 'location', 'applyUrl',
       'contractType', 'description', 'experienceLevel', 'jobUrl',
       'publishedAt', 'sector', 'workType', 'posterFullName',
       'posterProfileUrl', 'companyId', 'companyUrl'],
      dtype='object')

In [11]:
# convert the non-ASC II characters to ASC II, also remove any non-printable characters.
# %run utils.ipynb
df = remove_non_english_jobs(df)
df[df['title'].apply(contains_non_english)][['location', 'title']]

Index(['title', 'companyName', 'salary', 'location', 'applyUrl',
       'contractType', 'description', 'experienceLevel', 'jobUrl',
       'publishedAt', 'sector', 'workType', 'posterFullName',
       'posterProfileUrl', 'companyId', 'companyUrl'],
      dtype='object')

Empty DataFrame
Columns: [location, title]
Index: []

row 1491 still shows up, exam it more closely

In [12]:
# re-check job titles
df['title'].value_counts()[:20]

title
Chief Financial Officer                                      21
Financial Analyst                                            18
Senior Financial Analyst                                     17
Controller                                                   16
Senior Accountant                                            15
VP, Treasury - Payments Product Manager                      14
Accounting Manager                                           13
Financial Controller                                         10
Finance Manager                                               8
Executive Assistant (Remote - OPEN TO ALL U.S. LOCATIONS)     7
Assistant Controller                                          7
Director of Finance                                           7
Regional Director of Operations                               7
Senior Investment Associate                                   5
Accounts Payable Specialist                                   5
Finance Director                                              4
Senior Controller                                             4
General Manager                                               4
Investment Analyst                                            4
Project Manager                                               3
Name: count, dtype: int64

There are some very specific job titles which need a closer exam

In [13]:
# df[df['title'].str.contains('Work from Home', na=False)]['companyName'].value_counts()

All jobs contains 'Work from Home' come from the same company Outlier, which is a contract company for outsourcing AI training work. They are not really data related work and should be dropped.

In [14]:
# Take a closer look at the titles which are not data like.
# des = df0[df0['title'] == 'Systems Analyst (Data Analytics)'][['companyName', 'description', 'publishedAt', 'location']]
# with open('description.txt', 'w') as f:
#     f.write(des['description'].iloc[0])

A thorough examination of the job title shows that only jobs contains Data Analyst, Data Scientist, Business Intelligence, Quantitative Researcher are data related work. There are a lot of duplicated job posts by the same company and the same time, which need to be addressed.

In [15]:
# exam the company names
df['companyName'].value_counts()[:20]

companyName
Synchrony                                 14
Amazon                                    10
Republic National Distributing Company     9
Robert Half                                8
High Country: Private Equity Search        7
Alvarez & Marsal                           7
iHire                                      6
MedMark Treatment Centers                  6
Jobot                                      6
Amazon Web Services (AWS)                  5
The Coca-Cola Company                      5
Vaco                                       5
Kforce Inc                                 4
Selby Jennings                             4
OWEN ELECTRIC COMPANY, INC.                4
Encore Talent Solutions                    4
LHH                                        4
Insight Global                             3
Atlantic Group                             3
JCW                                        3
Name: count, dtype: int64

In [16]:
# extract unique company list
company_names = df['companyName'].unique()
with open ('company_names.txt', 'w') as file:
    for val in company_names:
        file.write(str(val) + '\n')
# ask ChatGPT what companies are suspicious, the result is saved in the file called

In [17]:
# only keep titles with data analyst, data scientist, business intelligence and quantitative researcher
# drop rows defined in the drop_rows variable
# keep columns 
df = refine_rows(df, drop_company_rows, keep_title_rows)

NameError: name 'refine_rows' is not defined

Convert complex job titles to simpler ones

In [22]:
# simplify job title to 'Data Analyst', 'Data Scientist', 'Business Intelligence', 'Intern'.
title_list = ['Intern', 'Data Analyst', 'Data Scientist', 'Business Intelligence']
df['simplified_job_title'] = df.apply(simplify_title, title_list=title_list, axis=1)
df['simplified_job_title'].value_counts()

Data Scientist           355
Data Analyst             338
Business Intelligence     46
Intern                    27
Name: simplified_job_title, dtype: int64

In [23]:
df.head()

,applicationsCount,applyType,applyUrl,benefits,companyId,companyName,companyUrl,contractType,experienceLevel,id,...,workType,min_years_of_experience,min_hourly_salary,max_hourly_salary,min_yearly_salary,max_yearly_salary,required_degree,remote_work,required_skills,simplified_job_title
0,Over 200 applicants,EASY_APPLY,https://www.linkedin.com/jobs/view/data-analys...,NaN,2857634.0,Coinbase,https://www.linkedin.com/company/coinbase?trk=...,Full-time,Entry level,4097009239,...,Information Technology,3.0,NaN,NaN,131325.0,154500.0,NaN,False,"['SQL', 'data modeling', 'Python', 'data visua...",Data Analyst
1,Over 200 applicants,EXTERNAL,https://www.disneycareers.com/job/-/-/391/7445...,NaN,1292.0,The Walt Disney Company,https://www.linkedin.com/company/the-walt-disn...,Full-time,Mid-Senior level,4100979607,...,Information Technology,3.0,NaN,NaN,99900.0,133900.0,BS,False,"['SQL', 'data communication', 'data platforms'...",Data Analyst
2,Over 200 applicants,EXTERNAL,https://job-boards.greenhouse.io/paretocaptive...,NaN,3345136.0,ParetoHealth,https://www.linkedin.com/company/pareto-health...,Full-time,Entry level,4084525629,...,Information Technology,2.0,NaN,NaN,NaN,NaN,BS,True,"['data analysis', 'underwriting', 'stop-loss',...",Data Analyst
3,Over 200 applicants,EXTERNAL,https://www.thirdlove.com/pages/jobs?gh_jid=77...,NaN,6452967.0,ThirdLove,https://www.linkedin.com/company/thirdlove?trk...,Full-time,Associate,4098608177,...,Analyst,2.0,NaN,NaN,NaN,NaN,BS,False,"['SQL', 'data manipulation', 'data visualizati...",Data Analyst
6,Over 200 applicants,EXTERNAL,https://careers.mcafee.com/global/en/job/MCAFG...,NaN,2336.0,McAfee,https://www.linkedin.com/company/mcafee?trk=pu...,Full-time,Not Applicable,4102473051,...,Information Technology,3.0,38.0,64.0,81120.0,133260.0,NaN,True,"['SQL', 'Python', 'R', 'data visualization', '...",Data Analyst

In [24]:
df['companyName'].value_counts()

Intuit                       11
Meta                         10
Walmart                       9
Google                        7
Harnham                       6
                             ..
SideRamp                      1
Bart & Associates, Inc.       1
J. Craig Venter Institute     1
Resource Label Group          1
GoodLeap                      1
Name: companyName, Length: 602, dtype: int64

In [25]:
df['title'].value_counts()[:20]

Data Scientist                       101
Data Analyst                          92
Senior Data Analyst                   26
Senior Data Scientist                 26
Business Intelligence Analyst         23
Data Scientist II                     13
Staff Data Scientist                  10
Business Data Analyst                  7
Lead Data Scientist                    7
Data Analyst II                        5
Senior Data Scientist, Analytics       4
Financial Data Analyst                 4
Data Scientist, Product Analytics      4
Lead Data Analyst                      4
Sustainability Data Analyst            3
Research Data Scientist                3
Marketing Data Analyst                 3
Principal Data Scientist               3
Staff Business Data Analyst            3
Data Scientist 3                       3
Name: title, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 766 entries, 0 to 1510
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   applicationsCount        766 non-null    object
 1   applyType                766 non-null    object
 2   applyUrl                 766 non-null    object
 3   benefits                 98 non-null     object
 4   companyId                765 non-null    float64
 5   companyName              765 non-null    object
 6   companyUrl               765 non-null    object
 7   contractType             766 non-null    object
 8   experienceLevel          766 non-null    object
 9   id                       766 non-null    int64
 10  jobUrl                   766 non-null    object
 11  location                 766 non-null    object
 12  postedTime               766 non-null    object
 13  posterFullName           140 non-null    object
 14  posterProfileUrl         140 non-null    object
 15  publishedAt              766 non-null    object
 16  salary                   304 non-null    object
 17  sector                   766 non-null    object
 18  title                    766 non-null    object
 19  workType                 766 non-null    object
 20  min_years_of_experience  621 non-null    float64
 21  min_hourly_salary        117 non-null    float64
 22  max_hourly_salary        115 non-null    float64
 23  min_yearly_salary        300 non-null    float64
 24  max_yearly_salary        299 non-null    float64
 25  required_degree          605 non-null    object
 26  remote_work              761 non-null    object
 27  required_skills          765 non-null    object
 28  simplified_job_title     766 non-null    object
dtypes: float64(6), int64(1), object(22)
memory usage: 179.5+ KB

In [28]:
df.to_csv('complete_refined.csv')